$padding-horizontal-mobile: 70px;
$padding-horizontal-sm: 120px;
$padding-horizontal-md: 150px;
$padding-horizontal: 180px;
$primary: #fde9d1;
$secondary: #1d2a3a;
$tertiary: #a36234;
$quaternary: #4b574f;
$dark-grey: #92929d;
$grey: #e4e4e4;
$black: #4c4d5e;
$light-grey: #f6f6f6;
$blue: #1f3c5f;